$baseCls:'action-panel';
@import '@/common/styles/mixin.scss';

.#{$baseCls} {
  --collapse-header-space: calc(2 * 38px);
  height: 100%;
  background-color: #fafafa;
  overflow: hidden;
  border-right: 1px solid #dedede;
  display: flex;
  flex-direction: column;

  &-collapse {
    @include scrollbar;
    height: inherit;
    overflow: auto;

    .ant-collapse-item {
      border-top: 0;
      border-bottom: 0;

      .ant-collapse-header {
        &-text {
          user-select: none;
        }
      }

      .ant-collapse-content {
        background: #f5f5f5;

        &-box {
          padding: 4px 8px !important;
        }
      }
    }
  }

  &-settings {
    display: flex;
    justify-content: space-around;
    padding: 2px 0 4px 0;

    &-icon {
      color: #8c8c8c;
    }
  }

  &-content {
    &-btns {
      display: flex;
      gap: 4px;
      flex-wrap: wrap;
      .ant-btn span {
        font-size: 12px;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 4px;

      &-item {
        background-color: #dedede;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &-dev {
      &-btns {
        display: flex;
        gap: 4px;
        flex-wrap: wrap;
      }
    }
  }

  &-paths {
    $item-gap-v: 4px;
    $item-gap-h: 6px;
    margin-top: $item-gap-v;
    display: flex;
    flex-direction: column;
    gap: $item-gap-v;

    &-item {
      background-color: #dedede;
      padding: 0 $item-gap-h;
      color: #333;
      font-size: 12px;
      line-height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-radius: 4px;
    }
  }
}
