$baseCls: 'param-editor';
@import '@/styles/common.scss';

.#{$baseCls} {

  // styles here
  &-table {
    .ant-empty-normal {
      margin: 0;
    }

    &-btns {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 40px;
      padding: 0 40px;
      border-bottom: 1px solid #f0f0f0;
    }
  }

  &-content {
    @include customScrollbar();
    max-height: 70vh;
    overflow: auto;
    padding-right: 10px;
  }

  &-form {
    &-error {
      position: absolute;
    }
  }
}
