$baseCls: 'entrance';

.#{$baseCls} {
  height: 100%;
  overflow: hidden;

  // Becareful when overwrite antd's style.
  .ant-layout {
    &-sider, &-content, &-footer {
      background: transparent;
    }

    &-footer {
      padding: 0;
    }
  }

  &-layout {
    height: 100%;
  }

  &-sider {
    &-flex {
      height: 100%;
      overflow: auto;

      & > .ant-flex {
        width: 100%;
      }
    }
  }
}
