$baseCls: 'entrance';

.#{$baseCls} {
  height: 100%;
  overflow: hidden;

  &-layout {
    height: 100%;

    &-inner {
      & &-sider {
        background: transparent;
      }
    }

    &-footer {
      padding: 0;
    }
  }
}
