$baseCls: 'entrance';

.#{$baseCls} {
  height: 100%;
  overflow: hidden;

  &-layout {
    height: 100%;

    &-inner {
      & &-sider {
        background: #fafafa;
        border-right: 1px solid #dedede;

        .ant-layout-sider-children {
          display: flex;
          flex-direction: column;

          & > div {
            flex: 1 1 auto;

            &:last-child {
              flex: 0 0 auto;
            }
          }
        }
      }
    }

    &-footer {
      padding: 0;
    }
  }
}
