$baseCls: 'script-editor';
@import '@/styles/common.scss';

.#{$baseCls} {
  .ant-modal {
    $padding-r-total: 24px;
    $padding-r: 12px;
    $padding-v: 1%;
    height: 100% - $padding-v * 2;
    padding-top: $padding-v;
    overflow: hidden;

    &-content {
      height: inherit;
      display: flex;
      padding-right: $padding-r;
      flex-direction: column;
    }

    &-header, &-footer {
      flex: 0 0 auto;
    }

    &-body {
      @include customScrollbar();
      flex: 1 1 auto;
      overflow: auto;
      padding-right: $padding-r-total - $padding-r;
    }
  }

  .cm-editor {
    border: 1px solid #ddd;

    .cm-scroller {
      @include customScrollbar(10px, none);
    }

    &.cm-focused {
      outline: none;
    }
  }

  // styles here
  &-content {}
}
