@mixin customScrollbar($size:6px, $radius:6px, $thumbColor:#bfbfbf, $trackcolor:#f0f0f0) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $radius;
    background-color: rgba($thumbColor, 0.7)
  }

  &::-webkit-scrollbar-thumb:hover,
  &::-webkit-scrollbar-thumb:active {
    background-color: $thumbColor;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track:hover,
  &::-webkit-scrollbar-track:active {
    background-color: $trackcolor;
    box-shadow: none;
  }
}
