$baseCls: 'renamer-item';

.#{$baseCls} {
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0 2px 4px;
    background-color: #dedede;
    border-radius: 4px;

    &-name {
      flex: 1 1 auto;
      font-size: 12px;
    }

    &-controls {
      flex: 0 0 auto;
      display: flex;
    }
  }

  &-modal {
    .ant-modal-footer {
      display: flex;
      justify-content: space-between;
    }
  }

  &-form {
    &-view {}

    &-error {
      color: #f5222d;
      font-weight: bold;
    }
  }
}
