$baseCls: 'details';
@import '@/styles/common.scss';

.#{$baseCls} {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &-table {
    @include customScrollbar();
    flex: 1 1 auto;
    overflow: auto;
    z-index: 1;
    border-top-left-radius: 6px;
    box-shadow: 0 0 5px 1px #d9d9d9;

    &-status {
      display: flex;
      height: 100%;
      justify-content: center;
    }

    .ant-table {
      &.ant-table-empty {
        .ant-table-body {
          .ant-table-tbody {
            & > tr.ant-table-placeholder {
              & > td.ant-table-cell {
                padding: 0;
                border: none;
              }
            }
          }
        }
      }
    }
  }

  &-toolbar {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 50%);
  }
}
