$baseCls: 'renamer-section';

.#{$baseCls} {
  &-filters {
    &-item {
      margin-bottom: 4px;
    }
  }

  &-controls {
    display: flex;
    justify-content: space-around;

    .ant-btn span {
      font-size: 12px;
    }
  }
}
