$baseCls: 'data-table';
@import '@/styles/common.scss';

.#{$baseCls} {
  height: 100%;
  background: #fff;

  &-table {
    @include customScrollbar();
    height: inherit;
    overflow: auto;

    .ant-table {
      &.ant-table-empty {
        .ant-table-body {
          .ant-table-tbody {
            & > tr.ant-table-placeholder {
              & > td.ant-table-cell {
                padding: 0;
                border: none;
              }
            }
          }
        }
      }

      &-body {
        .ant-table-tbody {
          & > tr.ant-table-row {
            & > td.ant-table-cell {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
